table{
	width: 310px;
	margin: 50px auto;
	background: black;
	border: none;
	border-radius: 20px;
	padding: 0px 20px 20px;
}

.heading{
	color: red;
	font-size: 23px;
	text-align: center;

}

#input,#answer{
	width: 260px;
	height: 50px;
	font-size: 210%;
	text-align: right;
	border: none;
}

#input{
border-radius: 5px 5px 0px 0px;
box-shadow: 2px 2px 2px red;
color: #1e1e1e;
}

#answer{
border-radius: 0px 0px 5px 5px;
box-shadow: 2px 2px 2px red;
color: #1e1e1e;
}

input[type=button]{
	height: 60px;
	width: 60px;
	color: blue;
	background-color: white;
	margin: 1px;
	border-radius: 10px;
	border: none;
	font-size: 30px;
}

input[type=button]:hover
{
	background: yellow;
	cursor: pointer;
}


